<% include partials/header.ejs%>

<div class="ui main fixed container segment">
    <div class="ui huge header"><%= blog.title%></div>
    <span>-<%= blog.created.toDateString()%></span>
    <div class="ui clearing divider"></div>
    <div class="ui top attached">
        <div class="item">
            <% if(blog.image != ""){ %>
            <img class="ui centered rounded image imagerace segment" src="<%= blog.image%>" >
            <% } else{ %>
            <img class="ui centered rounded image imagerace segment" style="height: 200px; width: 350px" src="http://us.yuneec.com/c.4198727/sca-dev-vinson/img/no_image_available.jpeg" >
            <% } %>

            <div class="content">
                <div class="description">
                    <p><%- blog.body%></p>
                </div>
                <a href="/blogs/<%=blog._id%>/edit"><button class="ui yellow basic button">Edit Blog</button></a>
                <form id="delete" action="/blogs/<%= blog._id%>?_method=DELETE" method="POST">
                    <button class="ui red basic button">Delete Blog</button>
                </form>
            </div>
        </div>
    </div>
</div>
<br><br>

<% include partials/footer.ejs%>